body .content {
  width: 1441px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.main-content {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
  position: relative;
}

.header {
  min-height: 811px;
  background-image: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 24px;
}

.header .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  border-width: 0;
  margin-bottom: 121px;
}

.slider-item {
  width: 616px;
  height: 412px;
}

.slider-text__small-caption {
  margin-bottom: 22px;
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.slider-text__title h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #ffffff;
  margin-bottom: 24px;
}

.slider-text__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 45px;
}

.slider-button {
  line-height: 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: underline;
  color: #ffd723;
}

.section-product {
  padding-top: 150px;
}

.section-product__title h1 {
  width: 607px;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #4d533c;
  margin-bottom: 60px;
}

.section-products {
  width: 100%;
  height: 309px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 326px;
}

.section-product__item {
  position: relative;
  width: 255px;
  height: 309px;
  background-color: aqua;
}

.section-product__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4d533c;
  width: 183px;
  position: absolute;
  top: 27px;
  left: 30px;
}

.section-product__item-desc {
  position: absolute;
  width: 194px;
  top: 115px;
  left: 30px;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.section-product__item-btn {
  position: absolute;
  bottom: 36px;
  left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #d4d6d4;
}

.section-product__item-btn:hover {
  color: #ffd723;
  cursor: pointer;
}

.call-to-action {
  box-sizing: border-box;
  width: 1275px;
  height: 362px;
  background-color: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding-top: 70px;
  padding-left: 164px;
  /* margin-left: -164px; */
  position: absolute;
  left: -165px;
  bottom: -540px;
}

.call-to-action__title {
  width: 822px;
  height: 148px;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
}

.call-to-action__btn {
  margin-top: 50px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #d4d6d4;
}

.footer {
  box-sizing: border-box;
  height: 920px;
  background-image: url(./img/footer_bg.jpg);
  padding-top: 310px;
}

.footer__font-title {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
}

.footer__font-title-white {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}

.contacts {
    box-sizing: border-box;
  width: 452px;
  height: 74px;
  padding: 0;
  position: relative;
 border-width: 0; 
}

.footer-contacts__address {
    box-sizing: border-box;
    position: absolute;
    left: 246px;
    top: 0;
}

.footer-contacts__phone-title, .footer-contacts__address-title {
    margin-bottom: 8px;
}

.footer_menu {
  box-sizing: border-box;
  margin-top: 66px;
  width: 1111px;
  height: 320px;
  padding: 61px 0 0 0;
  border-top: 1px solid #5d6544;
  padding-top: 60px;
}
